.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header {

    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    /* background-size: auto 90%; */
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    height: auto;
    /* background-position: top left; */
}

* {
    margin: 0;
    padding: 0;
}

nav {
    width: 70%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    /* border: 2px solid black; */
    align-items: center;
    margin: 0 auto;
}

.nav-list-items {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
    font-size: 20px;
    font-weight: 400;

}

.nav-list-items a {
    text-decoration: none;
    color: #474747;
}

/* logo */
.logo h2 {
    font-size: 45px;
    font-weight: bolder;
}

.spancolor {
    color: #FD6E0A;
    font-weight: bolder;
}

#Banner-container {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin: 46px 38px 0px 230px;
    justify-content: space-between;
}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-content {
    /* border: 2px solid brown; */
    max-width: 585px;
    margin-bottom: 184px;
}

.banner-img {
    margin-bottom: 0;
    max-width: 585;
    margin-right: 38;
    margin-left: 978;
    /* border: 2px solid black; */
    margin-top: 46;
}

#about {
    padding: 130px 230px;
    /* border: 2px solid black; */
    display: flex;
    text-align: center;
    width: 70%;
    margin: 0 auto;



}

#about .about-content {
    /* border: 2px solid black; */
    padding: 130px 156px;
    margin: 0 auto;
    background-color: #FFF8F3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-info-card {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

/* .skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    flex-direction: column;
} */

#skill {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 2px solid black; */
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 230px 130px;

    /* flex-direction: column; */
    /* padding-top: 130px; */
    /* margin-top: 130px;
    margin-bottom: 130px; */
}

#skill .skill-container {

    /* border: 2px solid black; */
}

.skill-content {
    text-align: center;
    /* border: 2px solid black; */

}

.skill-box {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    /* box-shadow: #312477; */
}

.skill-card {
    /* border: 2px solid brown; */
    box-shadow: 0px 6px 50px 0px #0000002a;
    max-width: 267px;
}

.skill-card img {
    width: 44px;
    padding: 30px;
}

/* Shared Class */
.btn {
    background-color: #FD6E0A;
    font-size: 20px;
    padding: 20px 30px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
}

.h1-title {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

#resume .section-header {
    text-align: center;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-unvrsl {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.h4-title-skill-card {
    font-size: 20px;
    font-weight: bold;
    line-height: auto;
    margin-bottom: 20px;
    color: #181818;
    padding-left: 30px;
    padding-right: 33px;
}

.p-title-skill-card {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 33px;
}

#resume {
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
}

#resume .resume-content {
    display: flex;
    gap: 71px;
    /* border: 2px solid rgb(128, 11, 11); */
}

#resume .resume-container {
    /* padding: auto; */
    /* border: 2px solid rgb(7, 185, 126); */
    /* padding: 130px 277px 113px 230px; */
}

#resume .education-box,
.experience-box {
    max-width: 511px;
}

.edx-btn {

    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 113px;
    /* align-items: center; */
    /* border: 2px solid black; */
}

.education-box .education-card {
    /* border: 2px solid aqua; */
}

.education-card h2 {
    padding-left: 30px;
    font-size: 25px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 10px;
}

.education-card h4 {
    font-size: 20px;
    color: #757575;
    font-weight: 600px;
    line-height: auto;
}

.footer-box {
    display: flex;
    /* border: 2px solid red; */
    max-width: 71%;
    height: 520px;
    gap: 117px;
}

.footer-container {
    background-color: #FFF8F3;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    height: 780px;
    margin: 0 auto;
}

.left-fotter-box {

    /* border: 2px solid black; */
    width: 540px;
    height: 178px;
}

.footer-box p {
    padding: 0;
}

.left-fotter-box .icons {
    /* border: 2px solid red; */
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.Right-footer-box input[type="text"] {
    /* border: 2px solid red; */
    width: 461px;
    height: 64px;
    padding-left: 30px;
    padding-top: 18px;
}

.Right-footer-box input[type="Email"] {
    /* border: 2px solid red; */
    width: 461px;
    height: 64px;
    padding-left: 30px;
    padding-top: 18px;
}

.Right-footer-box textarea {
    /* border: 2px solid red; */
    width: 461px;
    height: auto;
    padding-left: 30px;
    padding-top: 18px;
}


.Right-footer-box {
    display: flex;
    gap: 24px;
    flex-direction: column;
}